*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: butler;
    src: url(../text/butler.otf);
}
@font-face {
    font-family: lato;
    src: url(../text/lato.ttf);
}
/**NAVIGATION**/
#navbar {
    position: fixed; /* Make it stick/fixed */
    top: 0; /* Stay on top */
    width: 100%; /* Full width */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
    z-index: 4;
}
.navbar {
    padding-left: 0 3em 0 3em;
    overflow: hidden;
    background-color: #f9faff;
}
.navbar-nav li {
    margin-left : 2vw;
    margin-right : 2vw;
    white-space: nowrap;
    font-size: 1.8vw;
}
#navbar .nav-link {
    color: #52664d;
    font-family: butler;
    font-weight: 600;
}
#navbar .nav-link:hover {
    background-color: #fff;
}
#logo {
    width: 10vw;
    min-width: 150px;
    padding-top: .1em;
    padding-bottom: .1em;
    z-index: 4;
}
.hero-carousel {
    height: 32rem;
    background: #777;
    color: white;
    position: relative;
    background-position: center;
    background-size: cover;
}
.hero {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 5%;
}
h1 {
    font-family: butler;
    font-size: 5vw;
    color: #FAF6EE;
    font-weight: 900;
    z-index: 0;
    text-align: center;
}
.btn {
    font-family: lato;
    color: #8ca84a;
    background: #52664d;
    border-color: #52664d;
}
.btn:hover {
    background: #8ca84a;
    color: #52664d;
    border-color: #8ca84a;
    box-shadow:  0 5px 20px 0px #71b45b;
    font-weight: 600;
}
.intro {
    margin-top: 5em;
    margin-bottom: 5em;
    text-align: center;
}
.intro p {
    font-family: lato;
    letter-spacing: .7px;
    line-height: 1.5em;
    color: #1a2d42;
    font-size: 1.1em;
}
.pond-pic {
	background-image: linear-gradient(#ffffff65, #ffffff65), url(../images/index/pond.png);
    background-position: right bottom; 
	background-repeat: no-repeat; 
    background-size: contain;
    height: 115vh;
    width: 90%; /**65em; ***/
    margin: -90vh auto 20em auto;
}
.intro h2 {
    font-family: butler;
    font-size: 3.7em;
    color: #46525F;
    font-weight: bold;
}
h3 {
    font-family: butler;
    font-size: 1.5em;
    color: #5b7fa8;
    font-weight: 600;
}
.pond p {
    text-align: left;
    font-family: lato;
    color: #313d2e;
}
.facilities {
    overflow: hidden;
    margin-top: -17em; 
    text-align: center;
    padding-bottom: 5em;
}
.facilities h2 {
    padding: 1em .5em .5em .5em;
    font-family: butler;
    font-size: 3em;
    font-style: italic;
    color: #3b6e2f;
}
.facilities p {
    padding: 0em .5em 1em .5em;
    font-family: lato;
    font-size: 1.1em;
    color: #657e2a;
}
.rmv-padding {
    padding: 0%;
}
#breakfast {
    background-image: url(../images/index/breakfast.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 200;
    background-attachment: fixed;
    height: 60vh;
}
.your-stay {
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(../images/index/paws.jpg); 
	background-repeat: repeat;
    background-size: contain;
    z-index: 0;
    text-align: center;
}
.your-stay h2 {
    font-size: 3em;
    color: #46525F;
}
.your-stay h3 {
    font-size: 2em;
}
.your-stay p {
    color: #384b61;
}
.footer-heading {
    padding-top: 1em;
}
.footer-image {
    background-image: url(../images/footerimg3.jpg);
    height: 150vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -1;
    margin-top: -80vh;
}
footer p {
    color: #e1eaf3;
}
.info {
    padding-top: 2em;
}
.info a {
    color: #6dcc00;
}

footer {
    background-color: #46525F;
    bottom: 0;
    width: 100%;
    height: auto;
    margin-top: 0;
    overflow: hidden;
}
.footer-content {
    padding: 1em 10em 0 8em;
}
footer h3 {
    color: #97cc8c;
}
.social-media {
    text-align: right;
    padding-right: 4em;
}
.copyright {
    padding: 0;
    margin: 0;
}
.facebook {
    color: #3b5998;
    padding: .5em;
}
.facebook:hover {
    box-shadow:  0 5px 20px 0px #252e22;
}
.instagram {
    color: #e1306c;
    padding: .5em;
}
// Media Queries //
